/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

/*
:root {
  --ifm-color-primary: #ffa729;
  --ifm-color-primary-dark: #ff9b0b;
  --ifm-color-primary-darker: #fc9400;
  --ifm-color-primary-darkest: #cf7a00;
  --ifm-color-primary-light: #ffb347;
  --ifm-color-primary-lighter: #ffb955;
  --ifm-color-primary-lightest: #ffcc82;
}
[data-theme='dark'] {
  --ifm-color-primary: #4aafff;
  --ifm-color-primary-dark: #29a0ff;
  --ifm-color-primary-darker: #1999ff;
  --ifm-color-primary-darkest: #0081e6;
  --ifm-color-primary-light: #6bbeff;
  --ifm-color-primary-lighter: #7bc5ff;
  --ifm-color-primary-lightest: #addbff;
}

*/

:root {
  --ifm-color-primary: #4aafff;
  --ifm-color-primary-dark: #29a0ff;
  --ifm-color-primary-darker: #1999ff;
  --ifm-color-primary-darkest: #0081e6;
  --ifm-color-primary-light: #6bbeff;
  --ifm-color-primary-lighter: #7bc5ff;
  --ifm-color-primary-lightest: #addbff;
  --ifm-color-primary: #4aafff;
  --ifm-color-secondary: #ffa729;
  --ifm-color-success: #00a400;
  --ifm-color-info: #54c7ec;
  --ifm-color-warning: #ffba00;
  --ifm-color-danger: #fa383e;
}
[data-theme='dark'] {
  --ifm-color-primary: #ffa729;
  --ifm-color-primary-dark: #ff9b0b;
  --ifm-color-primary-darker: #fc9400;
  --ifm-color-primary-darkest: #cf7a00;
  --ifm-color-primary-light: #ffb347;
  --ifm-color-primary-lighter: #ffb955;
  --ifm-color-primary-lightest: #ffcc82;
}


.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto auto;
  padding: 5px;
}

.grid-item {
  background-color: var(--ifm-color-secondary-dark);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 7px;
  color: #000;
}

/* Styling one class specially in dark mode */
[data-theme='dark'] .grid-item {
  color: #fff;
  background-color: #474748;
}


.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);

}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] p code {
    border: 1px solid var(--ifm-color-emphasis-100);
    background-color: #282A36;
  }

[data-theme='dark'] li code {
    border: 1px solid var(--ifm-color-emphasis-100);
    background-color: #282A36;
  }

[data-theme='dark'] .aa-DetachedSearchButtonIcon {
  color: #0081e6 !important;
}

[data-theme='light'] .aa-DetachedSearchButtonIcon {
  color: #addbff !important;
}
[data-theme='light'] .aa-DetachedSearchButton {
    border: 1px solid #addbff !important;
    border-color: #addbff !important;
}
[data-theme='light'] .aa-DetachedSearchButton:focus {
    box-shadow: #4aafff 0 0 0 3px, inset #4aafff 0 0 0 2px;
}
[data-theme='dark'] .aa-DetachedSearchButton {
    border: 1px solid #0081e6 !important;
    border-color: #0081e6 !important;
}
[data-theme='dark'] .aa-DetachedSearchButton:focus {
    box-shadow: #4aafff 0 0 0 3px, inset #4aafff 0 0 0 2px;
}
[data-theme='dark'] .aa-DetachedSearchButtonPlaceholder {
    color: rgba(128, 126, 163, 0.6);
}
[data-theme='dark'] .aa-Form {
    border: 1px solid #4aafff !important;
    border-color: #4aafff !important;
}
[data-theme='light'] .aa-Form {
    border: 1px solid #4aafff !important;
    border-color: #4aafff !important;
}
[data-theme='dark'] .aa-SubmitIcon {
  color: #0081e6 !important;
}
[data-theme='dark'] .aa-ClearIcon {
  color: #0081e6 !important;
}
[data-theme='dark'] .aa-Form ::placeholder {
  color: #0081e6 !important;
}
[data-theme='light'] .aa-SubmitIcon {
  color: #4aafff !important;
}
.aa-Item[aria-selected=true] {
  background-color: #addbff !important;
}
[data-theme='dark'] .aa-DetachedContainer {
  background: #0b181e !important;
}
[data-theme='dark'] .aa-DetachedContainer .aa-Panel {
    background-color: #0b181e !important;
}
[data-theme='dark'] .aa-ItemActionButton {
    color: #0b181e !important;
}
.dsla-search-field {
  width: 250px;
}
[data-theme='dark'] .aa-Item {
    color: #ffa729 !important;
}
.aa-ItemContentDescription[aria-selected=true] {
  color: #0b181e !important;
}